/*QUERIES  1600 1440 1366 1280 1024 800 600 480 375*/
/*FONTS*/
@media only screen and (max-width: 948px) and (min-width: 601px){
    .trip-col h3 {
        font-size: 3em;
    }
    h1 {
        font-size: 3em;
    } 
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.15em;
    }
    p, a, span {
        font-size: 20px;
        line-height: 40px;
    }
}
@media only screen and (max-width: 600px) {
    .trip-col h3 {
        font-size: 2.5em;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.75em
    }
    .stories .active-slide h2 {
        font-size: 1.75em;
    }
    h3 {
        font-size: 1.15em;
    }
    p{
        font-size: 18px;
    }
    .stories .text-cont p {
        font-size: 18px;
    }
    .rating-num {
        font-size: 18px !important;
    }
    a, span {
        font-size: 14px;
    }
}

/*GENERAL*/
@media only screen and (max-width: 1366px) {
    /*EXPEDITIONS*/
    .expe-head .abo-tag .spec-but {
        width: 100% !important;
    }
    .expe-head .name-cont {
        width: 12vw !important;
    }
    .expe-head .ball span{
        width: 20vw !important;
    }
    .expe-head .abo-tag .alr {
        width: 85vw;
    }
}

@media only screen and (max-width: 1200px) {
    h1 {
        padding: 24px 0;
    }
    /*SLIDER*/
    .trip-guides .center .clip{
        transition-duration: 0;
    }
    .trip-guides .center  .active-slide {
        transform: none;
    }
    /*EXPEDITIONS*/
    .bot-sum input {
        position: relative !important;
    }
    /*REVIEWS*/
    .feat-revs .featured:nth-child(odd) img{
        order: 1;
    }
    .feat-revs .featured:nth-child(odd) .text-cont{
        order: 2;
    }
    .feat-revs .featured{
        display: block;
    }
    .feat-revs .featured img {
        max-width: 50%;
    }
    .feat-revs .featured .text-cont {
        padding: 0;
        margin-top: 96px;
        text-align: center;
        width: 100%;
        margin: 32px auto 0;
    }
    .feat-revs .featured .text-cont span{
        text-align: left;
    }
}

@media only screen and (max-width: 1024px) {
    /*MARGIN AND PADDING*/
    .padder {
        padding: 0;
    }
    .nothundo {
        width: 85%;
        margin: 3vh auto !important;
    }
    .sum-img-cont {
        margin-top: 5vh !important;
    }
    /*TRIP SECTION*/
    #trips .trip-row{
        display: block;
    }
    #trips .trip-col {
        width: 75%;
        margin: 24px auto;
    }
    #trips .trip-col img{
        max-width: 100%;
    }
    /*HOMEPAGE*/
    .sum-row {
        display: block !important;
    }
    .sum-info-col {
        margin: 5vh auto !important;
        text-align: justify;
        text-align-last: center;
    }
    #tuts .tuts-row {
        display: block;
    }
    #tuts .tuts-col {
        margin: 24px auto 86px;
    }
    #destinations img {
        width: 85%;
    }
    #destinations .dest-row {
        display: block;
    }
    #destinations .dest-col {
        margin: 24px auto;
        width: 75%;
    }
    /*REVIEWS*/
    .expe-revs .contain {
        display: block;
    }
    .expe-revs .nomarg {
        margin-right: 0 !important;
    }
    /*ABOUT*/
    .mt-n-grt .row {
        display: block;
    }
    .mt-n-grt .row:first-child img {
        width: 50%;
    }
    .mt-n-grt .col {
        margin: 5% auto;
    }
    .mt-n-grt .row .text-cont {
        margin: 0 auto;
        max-width: 75%;
    }
    /*EXPEDITION*/
    .hosts-cont {
        margin: 12px auto 64px !important;
    }
}

@media only screen and (max-width: 984px) {
    /*ARTICLES HEADER SLIDER*/
    .arts-page .contain {
        display: block;
    }
    .arts-page .contain .left-cont{
        width: 100%;
        height: 90%;
    }
    .arts-page .contain .right-cont{
        padding-top: 20px;
        width: 100%;
        height: 10%;
    }
    .arts-page .contain .right-cont ul{
        display: none !important;
    }
    /*ARTICLES STORIES SLIDER*/
    .stories .slide-content {
        display: none;
        width: 100%;
    }
    .stories .active-slide {
        display: block;
        padding: 4% 15%;
    }
    /*GENERAL*/
    .submission {
        max-width: 100% !important;
    }
    .sm-news input {
        width: 100% !important;
        display: block;
        margin: 24px 0 !important;
        padding: 12px 0 !important;
    }
    .slick-prev {
        left: -75px;
        width: 72px;
        height: 72px;
    }
    .slick-next {
        right: -75px;
        width: 72px;
        height: 72px;
    }
    .btn-prev {
        width: 72px !important;
        height: 72px !important;
    }
    .btn-next {
        width: 72px !important;
        height: 72px !important;
    }
    /* THE NAV */
    .transpnav, .whitenav {
        display: none;
    }
    .fixnav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header {
        padding-top: 95.1px !important;
    }


    /*HOMEPAGE*/
    #summary .sum-img-cont {
        display: block;
    }
    #summary .sum-img-cont .sum-img-row-col {
        display: block;
        width: 100%;
    }
    #summary .spec {
        margin: 24px auto !important;
    }
    #summary .sum-img-row {
        margin: 24px auto !important;
        width: 100% !important;
    }
    #long {
        margin: 24px auto !important;
        width: 100% !important;
    }
    .twit-tags {
        display: block !important;
    }
    .twit-tags div { 
        margin: 12px auto !important;
    }
    
    #destinations .dest-col {
        margin: 24px auto;
        width: 100%;
    }
    
    /*EXPEDITIONS*/
    .expe-head .spec-but {
        z-index: 24;
        color: white;
        background: #3e695d;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .expe-head .spec-but a{
        background: #b3ccc3 !important;
        color: #3e695d !important;
    }
    #itinerary .special-numbering {
        display: none;
    }
    #itinerary .it-content {
        display: block;
    }
    #itinerary .it-content img {
        width: 100%;
    }
    #itinerary .text-cont {
        width: 100%;
    }
    #itinerary .text-cont h2 {
        margin: 24px 0;
    }
    #hostnotes .hosts-cont {
        display: block;
        text-align: justify;
        text-align-last: center;
        width: 100%;
    }
    #hostnotes .host-info-cont {
        text-align: inherit;
        width: 100%;
    }
    #reviews .feat-row, .expe-revs .feat-row {
        display: block;
        text-align: justify;
        text-align-last: center;
    }
    #reviews .feat-row img, .expe-revs .feat-row img{
        width: 45%;
    }
    #reviews .reviewee-cont, .expe-revs .reviewee-cont {
        text-align: inherit;
        max-width: 100%;
    }
    #reviews .reviewee-cont h3, .expe-revs .reviewee-cont h3{
        margin: 0 !important;
        max-width: 100%;
    }
    #reviews .star-cont, .expe-revs .star-cont{
        margin-bottom: 18px;
    }
    #reviews .star-cont img, .expe-revs .star-cont img {
        width: 24px;
    }
    #suggestions .sugg-cont {
        display: block;
    }
    #suggestions .sugg-col {
        width: 100%;
        margin: 32px 0;
    }
    #suggestions .rating {
        right: 24px !important;
    }

    #notesterms .nt-row {
        display: block;
    }
    #notesterms .nt-col, #notesterms .nt-col-l {
        width: 100%;
        height: auto;
        border: none;
    }
    #notesterms .nt-col p, #notesterms .nt-col-l p{
        max-width: 240px;
        margin: 0 auto;
    }
    /*ARTICLE SINGLE*/
    .page-article .recommend .row {
        display: block;
    }

    .page-article .recommend .col {
        width: 100%;
        margin: 42px auto;
    }
    .recommend .col span {
        width: 140px;
    }
    /*ARTICLE SINGLE*/
    .page-article {
        width: 100%;
    }
    .soc-vert-fix {
        left: 12px;
    }
}

@media only screen and (max-width: 800px) {
    /*EXPEDITIONS*/
    #inclusions .tictacimg .row {
        display: block;
    }
    #inclusions .tictacimg .col {
        width: 100%;
        height: auto;
        border: none;
    }
    .int h2 {
        text-align: center;
        width: 100% !important;
    }
    .dom h2 {
        text-align: center;
        width: 100% !important;
    }
    .abo-tag {
        align-items: stretch !important;
    }
    /*REVIEWS*/
    .feat-revs .featured img {
        max-width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    /*HOMEPAGE*/
    #trips .trip-col img{
        max-width: 100%;
    }
    footer {
        width: 100% !important;
        padding: 0 24px !important;
    }
    footer .cont {
        width: 100% !important;
    }
    footer .rightitems {
        right: 24px !important;
    }
    /*EXPEDITIONS*/
    .abo-tag {
        display: block !important;
        padding: 0 !important;
    }
    .abo-tag .tag-col {
        text-align: center !important;
        width: 100% !important;
        border: none !important;
    }
    .abo-tag .alr {
        padding: 12px 24px 12px 80px !important;
    }
    .abo-tag .ball {
        border-top: 1px solid #3e695d !important;
        border-bottom: 1px solid #3e695d !important;
    }
    .abo-tag .br{
        justify-content: center !important;
    }
    .abo-tag .tag-col span {
        width: 100% !important;
    }
    /*ABOUT*/
    .mt-n-grt .row:first-child img {
        width: 75%;
    }
    /*FOOTER*/
    footer .leftitems {
        width: 240px;
    }
    footer .soc-group {
        width: 88px !important;
    }
    footer .rightitems .soc-row img{
        width: 20px !important;
    }
    /*TRIPS*/
    #trips .trip-col {
        width: 100%;
        margin: 24px auto;
    }
    /*NEWSLETTER*/
    #newsletter input{
        max-width: 100% !important;
    }
    .recommend .col span {
        width: 120px;
    }
}

@media only screen and (max-width: 480px)  {
    .slick-prev {
        width: 64px;
        height: 64px;
        left: -45px;
    }
    .slick-next {
        width: 64px;
        height: 64px;
        right: -45px;
    }
    .btn-prev {
        width: 64px !important;
        height: 64px !important;
    }
    .btn-next {
        width: 64px !important;
        height: 64px !important;
    }
    /*ARTICLE SINGLE*/
    .soc-vert-fix {
        left: 4px;
    }
    .soc-vert-fix a {
        width: 32px; height: 32px;
    }
}
