@font-face {
  font-family: "aserif";
  src: url("./fonts/Serif/Noto_Serif/NotoSerif-Regular.woff") format("woff"), url("./fonts/Serif/Noto_Serif/NotoSerif-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "asans";
  src: url("./fonts/Sans/Lato/Lato-Regular.woff") format("woff"), url("./fonts/Sans/Lato/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "amono";
  src: url("./fonts/Mono/Fira_Code/FiraCode-VariableFont_wght.woff") format("woff"), url("./fonts/Mono/Fira_Code/FiraCode-VariableFont_wght.woff2") format("woff2");
}

/*MIXINS*/
/*COLORS*/
/* Reset */
* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body, html, h1, h2, h3, h4, h5, h6, p, header, footer, div, article, section, aside, ul {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
  margin-top: 0 !important;
}

input, select, textarea, button {
  outline: 0;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

button {
  cursor: pointer;
  background: transparent;
}

/*PRESETS*/
.flex {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "aserif";
}

h1 {
  font-size: 3.75em;
  padding: 48px 0;
}

h3 {
  font-size: 1.28em;
  padding: 24px auto;
  margin: 0 auto;
}

p, a {
  font-family: "asans";
  font-size: 18px;
  line-height: 30px;
}

span {
  font-family: "amono";
  font-size: 18px;
}

/*GEN*/
#inclusions, #suggestions, #inquire, #notesterms,
#guestphotos, #reviews, #hostnotes, #itinerary {
  color: #3e695d;
}

.hundo {
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.nothundo {
  margin: 8vh auto !important;
  padding: 24px 0;
  width: 78%;
  overflow: hidden;
  text-align: center;
}

.whitegreen {
  text-align: center;
  color: #3e695d;
  padding: 64px 5vw;
}

.whitered h1, .whitered h2, .whitered h3, .whitered h4, .whitered h5, .whitered h6 {
  color: #c24728;
}

.whitered p, .whitered a, .whitered span {
  color: #3e695d;
}

.padder {
  padding-bottom: 10vh;
}

.soc-vert-fix {
  position: fixed;
  top: 40vh;
  left: 24px;
  z-index: 99;
}

.soc-vert-fix a {
  display: block;
  width: 42px;
  height: 42px;
  margin: 12px 0;
}

.soc-vert-fix .fb {
  background: url("../images/SocIcons/fb.png");
  background-size: cover;
}

.soc-vert-fix .tw {
  background: url("../images/SocIcons/tw.png");
  background-size: cover;
}

.soc-vert-fix .insta {
  background: url("../images/SocIcons/insta.png");
  background-size: cover;
}

.soc-vert-fix .pin {
  background: url("../images/SocIcons/pin.png");
  background-size: cover;
}

.soc-vert-fix .mail {
  background: url("../images/SocIcons/mail.png");
  background-size: cover;
}

.soc-hor-rel a {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin: 0px 12px;
}

.soc-hor-rel .fb {
  background: url("../images/SocIcons/fb.png");
  background-size: cover;
}

.soc-hor-rel .tw {
  background: url("../images/SocIcons/tw.png");
  background-size: cover;
}

.soc-hor-rel .insta {
  background: url("../images/SocIcons/insta.png");
  background-size: cover;
}

.soc-hor-rel .pin {
  background: url("../images/SocIcons/pin.png");
  background-size: cover;
}

.soc-hor-rel .mail {
  background: url("../images/SocIcons/mail.png");
  background-size: cover;
}

.fixnav {
  display: none;
  position: fixed;
  z-index: 200;
}

.fixnav .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 12px 48px;
}

.fixnav .top img {
  float: left;
  width: 140px;
}

.fixnav .top .burger-drop {
  float: right;
  width: 64px;
  height: 64px;
  background: url("../images/dropwdown.png");
  background-size: cover;
}

.fixnav .drop {
  background: #f3f3f3;
  width: 100%;
  display: none;
}

.fixnav .drop ul li {
  list-style-type: none;
}

.fixnav .drop ul li a {
  width: 100%;
  display: inline-block;
  color: #333 !important;
  padding: 24px 0;
  border-bottom: 1px solid #bbbbbb;
}

.fixnav .drop ul li:last-child a {
  border: none;
}

.whitenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  padding: 24px 2.5vw;
}

.whitenav img {
  float: left;
  width: 140px;
}

.whitenav nav {
  float: right;
}

.whitenav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.whitenav li {
  margin: 0 32px;
  list-style-type: none;
}

.whitenav a {
  color: #333;
  text-decoration: none;
}

.transpnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  padding: 24px 2.5vw;
}

.transpnav img {
  float: left;
  width: 140px;
}

.transpnav nav {
  float: right;
}

.transpnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.transpnav li {
  margin: 0 32px;
  list-style-type: none;
}

.transpnav a {
  color: white;
  text-decoration: none;
}

.lang {
  position: absolute;
  top: 12px;
  right: 0;
}

.inq-yellow {
  background: #dfd0a5 !important;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}

::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

/*SLIDER PRESETS*/
.container {
  width: 78%;
  margin: 0 auto;
}

.container .slider {
  margin: 0 auto;
  width: 100%;
}

.slick-track {
  padding: 32px 0 !important;
}

.slick-prev {
  left: -98px;
  width: 98px !important;
  height: 98px !important;
  background: url("../images/leftarr-min.png") !important;
  background-size: cover !important;
  z-index: 100;
}

.slick-prev::before {
  content: "" !important;
}

.slick-next {
  right: -98px;
  width: 98px !important;
  height: 98px !important;
  background: url("../images/rightarr-min.png") !important;
  background-size: cover !important;
  z-index: 100;
}

.slick-next::before {
  content: "" !important;
}

.trip-guides .center .clip {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.trip-guides .center .active-slide {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

/*STORIES SLIDER*/
.stories #fst-story {
  background: url("../images/placeholder1-stories.png");
  background-position: center;
  background-size: cover;
}

.stories #sec-story {
  background: url("../images/placeholder2-stories.png");
  background-position: center;
  background-size: cover;
}

.stories #thr-story {
  background: url("../images/placeholder1-stories.png");
  background-position: center;
  background-size: cover;
}

.stories .container {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100% !important;
}

.stories .btn-prev {
  position: absolute;
  left: 1%;
  top: 43%;
  background: url("../images/leftarrW-min.png");
  background-size: cover;
  z-index: 100;
  width: 98px;
  height: 98px;
}

.stories .btn-next {
  position: absolute;
  right: 1%;
  top: 43%;
  background: url("../images/rightarrW-min.png");
  background-size: cover;
  z-index: 100;
  width: 98px;
  height: 98px;
}

.stories .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 90vh;
  width: inherit;
  margin: inherit;
}

.stories .slide-content {
  padding: 2%;
  position: relative;
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
  display: inline-block;
  width: 25%;
  height: 100%;
  text-align: center;
}

.stories .slide-content p {
  display: none;
}

.stories .slide-content img {
  opacity: 0.85;
  width: 100%;
}

.stories .text-cont {
  margin-top: 25%;
  text-align: left;
}

.stories .text-cont h2, .stories .text-cont p, .stories .text-cont span {
  color: white;
}

.stories .text-cont h2 {
  padding-top: 24px;
}

.stories .text-cont p {
  margin-top: 2%;
}

.stories .text-cont span {
  text-transform: uppercase;
  border: 1px solid white;
  padding: 4px 12px;
}

.stories .active-slide {
  padding: 4% 8%;
  width: 50%;
}

.stories .active-slide h2 {
  font-size: 3.25em;
}

/*INDEX*/
.headme {
  background: url("../images/homepagebg.png");
  background-size: cover;
  height: 85vh;
  display: block;
  color: white;
}

.headme h1 {
  margin-top: 10%;
}

.headme .hdr-text {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headme .hdr-text h1 {
  margin-top: 0;
}

.headme img {
  float: left;
  width: 140px;
}

.headme input {
  color: white;
  margin-top: 32px;
  background: transparent;
  border: 2px solid white;
  padding: 10px 48px;
  text-align: center;
}

.headme input::-webkit-input-placeholder {
  content: "TYPE HERE" !important;
}

.headme input:-ms-input-placeholder {
  content: "TYPE HERE" !important;
}

.headme input::-ms-input-placeholder {
  content: "TYPE HERE" !important;
}

.headme input::placeholder {
  content: "TYPE HERE" !important;
}

.headme nav {
  float: right;
}

.headme ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.headme li {
  margin: 0 32px;
  list-style-type: none;
}

.headme a {
  color: white;
  text-decoration: none;
}

#summary {
  margin: 0 auto;
}

#summary h1, #summary h2, #summary h3, #summary h4, #summary h5, #summary h6 {
  color: #c24728;
}

#summary p {
  color: #3e695d;
}

#summary .sum-text-cont, #summary .img-cont {
  display: block;
}

#summary .anotha1 {
  text-align: center;
}

#summary .sum-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#summary .sum-info-col {
  margin: 0 24px;
  text-align: justify;
  text-align-last: center;
  max-width: 25%;
}

#summary .sum-info-col img {
  width: 32%;
}

#summary .sum-img-cont {
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#summary .sum-img-cont .spec {
  margin-bottom: 20px;
}

#summary .sum-img-cont #long {
  background-size: cover !important;
  background: url("../images/camp.png") no-repeat;
  width: 25%;
  height: 100%;
}

#summary .sum-img-cont #first {
  background-size: cover !important;
  margin-right: 20px;
  background: url("../images/camel.png") no-repeat;
}

#summary .sum-img-cont #second {
  background-size: cover !important;
  background: url("../images/boat.png") no-repeat;
}

#summary .sum-img-cont #rect {
  background-size: cover !important;
  background: url("../images/mountainside.png") no-repeat;
  width: 100%;
  height: 51%;
}

#summary .sum-img-cont .sum-img-col {
  width: 73%;
  height: 100%;
}

#summary .sum-img-cont .sum-img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 49%;
}

#summary .sum-img-cont .sum-img-row-col {
  width: 49%;
  height: 95%;
}

#tuts {
  margin: 0 auto;
}

#tuts .tuts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tuts .tuts-col {
  max-width: 25%;
}

#tuts .tuts-col img {
  width: 120px;
}

#tuts .tuts-col h3 {
  width: 65%;
  font-size: 1.5em;
  padding: 24px 0;
}

#tuts .btn-links {
  margin-top: 48px;
}

#tuts a {
  padding: 12px 24px;
  margin: 18px 0;
  display: block;
  color: #c24728;
  border: 2px solid rgba(194, 71, 40, 0.75);
}

#destinations img {
  width: 65%;
}

#destinations .dest-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#destinations .dest-col {
  list-style-type: none;
}

#destinations .dest-col img {
  width: 85%;
}

#destinations h2 {
  color: #3e695d;
}

#trips .trip-row {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#trips .trip-col {
  width: 30%;
  position: relative;
  list-style-type: none;
}

#trips .trip-col h3 {
  max-width: 100%;
  color: white;
  font-size: 3em;
  position: absolute;
  top: 43%;
  width: 100%;
}

#trips .trip-col img {
  max-width: 100%;
}

#newsletter {
  width: 75%;
}

#newsletter input {
  color: #c24728;
  margin: 24px auto;
  width: 420px;
  display: block;
  border: 1px solid rgba(90, 151, 134, 0.95);
  padding: 12px;
  text-align: center;
}

#newsletter input::-webkit-input-placeholder {
  color: rgba(90, 151, 134, 0.85);
}

#newsletter input:-ms-input-placeholder {
  color: rgba(90, 151, 134, 0.85);
}

#newsletter input::-ms-input-placeholder {
  color: rgba(90, 151, 134, 0.85);
}

#newsletter input::placeholder {
  color: rgba(90, 151, 134, 0.85);
}

#newsletter button {
  padding: 12px;
  margin: 18px auto;
  display: block;
  color: #3e695d;
  border: 1px solid rgba(90, 151, 134, 0.85);
}

footer {
  text-align: left !important;
  color: #3e695d;
  position: relative;
  padding: 24px 0 72px 0;
}

footer .flexme {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .flexme img {
  width: 15%;
}

footer div div:first-child {
  margin-top: 24px;
}

footer h3 {
  color: #3e695d;
  margin-bottom: 20px;
}

footer h4 {
  color: #3e695d;
  margin-bottom: 12px;
}

footer .leftitems {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .rightitems {
  margin-top: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

footer .rightitems .soc-group {
  width: 120px;
}

footer .rightitems .soc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .rightitems .soc-group .soc-row img {
  width: 28px;
}

footer .rightitems .right-links {
  text-align: right;
}

footer li {
  list-style-type: none;
}

footer a {
  padding: 24px 0;
  color: #3e695d;
}

footer .below {
  position: relative;
}

/*EXPEDITION*/
.expe-head {
  background-color: #b3ccc3;
  color: #3e695d;
}

.expe-head .headliner .abo-wrap {
  padding: 12px 12px 0 12px;
}

.expe-head .headliner .abo-cont {
  padding: 24px 0;
  color: white;
  width: 100%;
  height: 720px;
  background: url("../images/expebg.png");
  background-size: cover;
}

.expe-head .headliner .abo-cont img {
  width: 64px;
}

.expe-head .headliner .abo-text {
  max-width: 520px;
  margin: 24vh auto 0;
}

.expe-head .headliner .abo-text h1 {
  padding: 24px 0;
}

.expe-head .headliner .abo-tag {
  text-align: left;
  padding: 0 72px;
  border-bottom: 1px solid #3e695d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.expe-head .headliner .abo-tag .alr {
  text-align: right;
}

.expe-head .headliner .abo-tag .tag-col {
  text-align: center;
  display: inline-block;
  padding: 12px 24px;
}

.expe-head .headliner .abo-tag .tag-col hr {
  border: none;
  margin-top: 12px;
}

.expe-head .headliner .abo-tag .tag-col span {
  display: block;
}

.expe-head .headliner .abo-tag .ball {
  text-align: left;
  padding: 0;
  border-right: 1px solid #3e695d;
  border-left: 1px solid #3e695d;
}

.expe-head .headliner .abo-tag .ball hr {
  display: block;
  margin: 0 auto;
  border-top: 1px solid #3e695d;
}

.expe-head .headliner .abo-tag .ball span {
  width: 400px;
  padding: 12px 0 12px 24px;
}

.expe-head .headliner .abo-tag .br {
  padding: 12px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.expe-head .headliner .abo-tag .br img {
  width: 64px;
  margin-right: 28px;
}

.expe-head .headliner .abo-tag .flag {
  width: 56px;
  height: 72px;
  position: absolute;
  left: 22px;
  top: -8px;
}

.expe-head .headliner .abo-tag .spec-but {
  border-left: 1px solid #3e695d;
}

.expe-head .headliner .abo-tag .spec-but a {
  background-color: #3e695d;
  color: white;
  padding: 8px 48px;
}

.expe-head .bot-sum {
  margin-top: 3vh !important;
  padding: 0 0 8%;
  position: relative;
}

.expe-head .bot-sum .twit-tags {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12px auto 0 auto;
}

.expe-head .bot-sum .twit-tags div {
  margin: 0 8px;
  max-width: 320px;
  padding: 4px 12px;
  border: 1px solid #3e695d;
}

.expe-head .bot-sum input {
  position: absolute;
  top: 0%;
  right: 0;
  color: #3e695d;
  border: 1px solid #3e695d;
  background: transparent;
  padding: 6px 18px;
}

.expe-head .bot-sum input::-webkit-input-placeholder {
  color: #3e695d;
  opacity: 1;
}

.expe-head .bot-sum input:-ms-input-placeholder {
  color: #3e695d;
  opacity: 1;
}

.expe-head .bot-sum input::-ms-input-placeholder {
  color: #3e695d;
  opacity: 1;
}

.expe-head .bot-sum input::placeholder {
  color: #3e695d;
  opacity: 1;
}

.expe-head .bot-sum p {
  margin: 0 auto;
  padding: 0 24px;
  line-height: 32px;
  max-width: 800px;
}

#inclusions .tictacimg {
  margin: 0 auto;
  width: 75%;
}

#inclusions .tictacimg img {
  width: 35%;
}

#inclusions .tictacimg .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

#inclusions .tictacimg .col {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding: 3% 2%;
  width: 33%;
}

#inclusions .tictacimg .borderall {
  border: 1px solid #3e695d;
}

#inclusions .tictacimg .borderud {
  border-top: 1px solid #3e695d;
  border-bottom: 1px solid #3e695d;
}

#inclusions .tictacimg .borderlr {
  border-left: 1px solid #3e695d;
  border-right: 1px solid #3e695d;
}

#itinerary .it-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 32px;
}

#itinerary .it-content img {
  width: 32%;
}

#itinerary .special-numbering {
  display: block;
  margin: 16px 24px;
}

#itinerary .special-numbering .circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #3e695d;
  display: block;
  position: relative;
}

#itinerary .special-numbering .circle h3 {
  display: block;
  position: absolute;
  left: 24px;
  top: 20px;
}

#itinerary .special-numbering .border {
  border-right: 2px solid #3e695d;
  height: 100%;
  width: 50%;
}

#itinerary .text-cont {
  text-align: left;
  width: 390px;
}

#itinerary .text-cont h3 {
  margin: 26px 0 0 0;
}

#itinerary .text-cont a {
  color: #393738;
}

#itinerary .sep {
  margin-top: 72px;
}

#itinerary .sep a {
  background: transparent;
  padding: 12px 48px;
  border: 1px solid #3e695d;
  color: #3e695d;
  width: 240px;
  margin: 0 auto;
}

#hostnotes .hosts-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 800px;
  margin: 64px auto 72px;
}

#hostnotes .host-info-cont {
  text-align: left;
  width: 450px;
}

#hostnotes .host-info-cont p {
  margin-bottom: 24px;
}

#hostnotes a {
  background: transparent;
  padding: 12px 48px;
  border: 1px solid #3e695d;
  color: #3e695d;
  width: 240px;
  margin: 0 auto;
}

#reviews h1 {
  padding-bottom: 12px;
}

#reviews .feat-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 900px;
  margin: 0 auto 10vh auto;
}

#reviews .feat-row img {
  width: 14%;
}

#reviews .reviewee-cont {
  text-align: left;
  max-width: 640px;
}

#reviews .reviewee-cont h3 {
  margin: 0 0 8px 0;
}

#reviews .reviewee-cont img {
  margin: 0 0 24px 0;
}

#reviews .rating-num {
  display: inline-block;
  font-size: 24px;
}

#reviews .star-cont {
  display: inline-block;
  margin-bottom: 48px;
}

#reviews .star-cont img {
  display: inline-block;
  width: 24px;
  margin: 0 4px;
}

#guestphotos h1 {
  padding: 48px 0 24px;
}

#guestphotos .gp-img-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#guestphotos .gp-img-cont img {
  width: 360px;
  margin: 24px;
}

#guestphotos a {
  background: transparent;
  padding: 12px 48px;
  border: 1px solid #3e695d;
  color: #3e695d;
}

#notesterms .nt-cont {
  width: 80%;
  margin: 0 auto;
}

#notesterms .nt-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

#notesterms .nt-cont div:last-child div {
  border-bottom: none;
}

#notesterms .nt-row div:last-child {
  border-right: none;
}

#notesterms .nt-col {
  width: 25%;
  padding: 0 24px 24px 24px;
  border-bottom: 1px solid #3e695d;
  border-right: 1px solid #3e695d;
}

#notesterms .nt-col img {
  margin-top: 20%;
  width: 35%;
}

#notesterms .nt-col-l {
  width: 50%;
  border-bottom: 1px solid #3e695d;
  border-right: 1px solid #3e695d;
}

#notesterms .nt-col-l img {
  margin-top: 7%;
  width: 35%;
}

#suggestions .sugg-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#suggestions .sugg-col {
  margin: 0 24px;
  width: 480px;
}

#suggestions .sugg-col img {
  width: 100%;
}

#suggestions .sugginfo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
  padding: 12px 0;
}

#suggestions .sugginfo img {
  width: 53px;
  height: 72px;
}

#suggestions .suggtext {
  width: 100%;
  padding: 0 12px;
}

#suggestions .suggtext h3 {
  max-width: none;
}

#suggestions .suggtext .rating {
  float: right;
}

#inquire {
  background: #b3ccc3;
}

#inquire .contain {
  padding: 98px 0;
  width: 78%;
  margin: 0 auto;
}

#inquire .iwlte span {
  font-family: "aserif";
  padding: 4px 12px;
  border: 1px solid #3e695d;
}

#inquire .iwlte select {
  font-weight: bold;
  font-size: 0.75em;
  background: transparent;
  border: 1px solid #3e695d;
  color: #3e695d;
  padding: 8px 20px;
}

#inquire .iwlte select option {
  font-weight: bold;
  background: #b3ccc3;
  color: #3e695d;
  border-color: #3e695d;
}

#inquire h1 {
  padding-bottom: 12px;
}

#inquire p {
  margin: 0 auto;
  max-width: 420px;
}

#inquire .submission {
  margin: 72px auto 32px;
  text-align: left;
  max-width: 65%;
  border: 1px solid #3e695d;
}

#inquire .submission .bme {
  padding: 12px;
  border-bottom: 1px solid #3e695d;
}

#inquire .submission .bme span {
  width: 164px;
  display: inline-block;
}

#inquire .submission .bme input {
  background: transparent;
  color: #3e695d;
  display: inline-block;
  width: 70%;
}

#inquire .submission .bmes {
  padding: 12px;
  border-bottom: 1px solid #3e695d;
}

#inquire .submission .bmes span {
  width: 164px;
  display: inline-block;
}

#inquire .submission .bmes input {
  background: transparent;
  color: #3e695d;
  display: inline-block;
  width: 70%;
}

#inquire .submission .bn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 12px;
}

#inquire .submission .bn span {
  width: 164px;
  display: inline-block;
}

#inquire .submission .bn textarea {
  background: transparent;
  color: #3e695d;
  width: 80%;
}

#inquire button {
  background: transparent;
  padding: 12px 48px;
  border: 1px solid #3e695d;
  color: #3e695d;
}

/*STARS*/
.stars {
  width: 16px !important;
  height: auto !important;
  margin: 0 12px;
  display: inline-block !important;
}

/*ABOUT*/
.abt-hdr {
  background: url("../images/homepagebg.png");
  background-size: cover;
  height: 85vh;
  display: block;
  color: white;
}

.abt-hdr h1 {
  margin-top: 10%;
}

.abt-hdr img {
  float: left;
  width: 140px;
}

.abt-hdr .text-cont {
  position: absolute;
  left: 0;
  bottom: 30%;
  text-align: left;
  padding: 0 8vw;
}

.abt-hdr .text-cont h1 {
  margin-top: 10%;
  font-size: 3em;
  line-height: 1.75em;
  max-width: 400px;
}

.abt-hdr .text-cont p {
  max-width: 800px;
  font-size: 1.5em;
  line-height: 1.75em;
}

.abt-hdr nav {
  float: right;
}

.abt-hdr ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.abt-hdr li {
  margin: 0 32px;
  list-style-type: none;
}

.abt-hdr a {
  color: white;
  text-decoration: none;
}

.how-its {
  max-width: 55%;
  margin: 0 auto;
}

.how-its h1, .how-its h2, .how-its h3, .how-its h4, .how-its h5, .how-its h6 {
  color: #c24728;
}

.how-its p {
  color: #3e695d;
}

.how-its .sum-text-cont, .how-its .img-cont {
  display: block;
}

.how-its .anotha1 {
  text-align: center;
}

.how-its .sum-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 64px 0;
}

.how-its .sum-info-col {
  margin: 0 24px;
  text-align: justify;
  text-align-last: center;
  max-width: 280px;
}

.how-its .sum-info-col img {
  margin: 0 auto;
  width: 32%;
}

.mt-n-grt .row:first-child img {
  width: 35%;
}

.mt-n-grt .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mt-n-grt .row img {
  width: 75%;
}

.mt-n-grt .row .text-cont {
  margin: 0 5%;
  max-width: 45%;
  text-align: left;
}

.mt-n-grt .row .text-cont h1 {
  padding: 12px 0;
}

.mt-n-grt .row .text-cont p {
  line-height: 42px;
}

.mt-n-grt .row .col h2 {
  color: #3e695d;
}

.abt-ftr {
  background-color: #b3ccc3;
}

.abt-ftr .cont {
  padding: 24px 0;
  width: 78%;
  margin: 0 auto;
}

.abt-ftr .rightitems {
  right: 11vw;
}

/*ARTICLES*/
.arts-page .contain {
  height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arts-page .contain .btn-prev {
  display: none;
  position: absolute;
  left: 1%;
  top: 43%;
  background: url("../images/leftarrW-min.png");
  background-size: cover;
  z-index: 100;
  width: 98px;
  height: 98px;
}

.arts-page .contain .btn-next {
  display: none;
  position: absolute;
  right: 1%;
  top: 43%;
  background: url("../images/rightarrW-min.png");
  background-size: cover;
  z-index: 100;
  width: 98px;
  height: 98px;
}

.arts-page .left-cont {
  text-align: left;
  background: url("../images/homepagebg.png");
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
}

.arts-page .right-cont {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: 6%;
  background: #b6cbc2;
  height: 100%;
  width: 45%;
}

.arts-page .right-cont #trending-tab {
  display: block;
}

.arts-page .right-cont #popular-tab {
  display: none;
}

.arts-page .right-cont .hdr-click {
  padding: 12px 0;
}

.arts-page .right-cont li.active {
  background: #dfd0a5;
  border-right: 18px solid #c24728;
}

.arts-page .right-cont li {
  position: relative;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  padding: 24px 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arts-page .right-cont li span {
  margin: 0 24px;
}

.arts-page .right-cont li h2 {
  float: left;
  font-size: 2.25em;
  max-width: 320px;
}

.arts-page .right-cont .tabs {
  text-align: center;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.arts-page .right-cont .tabs span {
  padding: 8px 12px;
  margin: 0 4px;
}

.arts-page .right-cont .tabs .active-tab {
  color: white;
  background: #c24728;
}

.arts-page .pop-cont {
  display: none;
}

.arts-page .hdr-cont {
  padding-top: 24%;
  max-width: 65%;
  margin: 0 auto;
  display: none;
}

.trip-guides .trip-centered-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trip-guides .container {
  background: none;
  position: relative;
}

.trip-guides .container h3 {
  color: #393738;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}

.trip-guides .container .clip {
  margin: 0 24px;
  width: 240px;
  overflow: hidden;
  bottom: 0;
}

.trip-guides .container .clip img {
  width: 100%;
}

.trip-guides .container .clip h3 {
  margin: 0 auto;
}

/*ARTICLE SINGLE*/
.art-hdr {
  text-align: left !important;
}

.art-hdr .full-cont {
  position: relative;
  min-height: 768px;
  background: url("../images/expebg.png");
  background-size: cover;
  padding: 0 10vw;
}

.art-hdr .full-cont .text-cont {
  position: absolute;
  bottom: 18%;
  color: white;
  padding-right: 48px;
}

.art-hdr .full-cont .text-cont p {
  max-width: 720px;
}

.art-hdr .full-cont .art-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 12px 0;
}

.art-hdr .full-cont .art-info span {
  text-transform: uppercase;
}

.art-hdr .full-cont .art-info hr {
  height: 21px;
  border-left: 1px solid white;
  margin: 0 24px;
}

.page-article {
  padding: 5vh 12vw;
  text-align: left;
}

.page-article li {
  font-family: "asans";
  padding: 24px 18px;
  font-size: 48px;
  list-style-type: decimal;
}

.page-article strong {
  font-size: 1.5em;
}

.page-article p {
  padding: 16px 0;
}

.page-article .article-post img {
  width: 100%;
}

.recommend h2, .recommend h3 {
  font-family: "asans";
}

.recommend h2 {
  padding: 24px 0 24px 48px;
}

.recommend .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.recommend .col {
  width: 45%;
}

.recommend .col img {
  display: block;
  max-width: 100%;
}

.recommend .col span {
  text-align: center;
  display: block;
  width: 120px;
  padding: 4px 12px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 12px 0;
  border: 2px solid #393738;
}

.recommend .col h3 {
  margin: 0;
}

.sm-news h1 {
  color: #3e695d;
}

.sm-news form input {
  padding: 18px 12px !important;
  text-align: center;
  color: #3e695d;
  background-color: transparent;
  padding: 12px 48px;
  border: 1px solid #3e695d;
  margin: 12px 24px;
  width: 32%;
}

.sm-news form input::-webkit-input-placeholder {
  color: #3e695d;
  opacity: 0.75;
}

.sm-news form input:-ms-input-placeholder {
  color: #3e695d;
  opacity: 0.75;
}

.sm-news form input::-ms-input-placeholder {
  color: #3e695d;
  opacity: 0.75;
}

.sm-news form input::placeholder {
  color: #3e695d;
  opacity: 0.75;
}

.sm-news form button {
  background: transparent;
  padding: 12px 48px;
  border: 1px solid #3e695d;
  color: #3e695d;
  background: #3e695d;
  color: white;
  margin: 0 auto;
  margin-top: 24px;
  display: block;
}

/*REVIEWS*/
.rev-hdr {
  background: url("../images/homepagebg.png");
  background-size: cover;
  height: 85vh;
  display: block;
  color: white;
  text-align: left;
  position: relative;
}

.rev-hdr h1 {
  margin-top: 10%;
}

.rev-hdr img {
  float: left;
  width: 140px;
}

.rev-hdr .text-cont {
  position: absolute;
  bottom: 15vh;
  padding: 0 8vw;
}

.rev-hdr .text-cont h1 {
  font-size: 3em;
  line-height: 1.75em;
  max-width: 640px;
}

.feat-revs div {
  margin: 0 0 15vh;
  width: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.feat-revs div img {
  max-width: 40%;
}

.feat-revs div .text-cont {
  text-align: left;
  display: block;
  width: 50%;
  padding: 0 4%;
}

.feat-revs div .text-cont span {
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #3e695d;
  padding: 12px 24px;
}

.feat-revs div .text-cont p {
  line-height: 42px;
  margin-bottom: 48px;
}

.feat-revs div .text-cont a {
  background: transparent;
  padding: 12px 48px;
  border: 1px solid #c24728;
  color: #c24728;
  padding: 12px 10vw !important;
  font-weight: bolder;
}

.feat-revs .featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feat-revs .featured:nth-child(odd) img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.feat-revs .featured:nth-child(odd) .text-cont {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.expe-revs .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expe-revs .contain img {
  max-width: 45%;
  margin-right: 4%;
}

.expe-revs .right-cont a {
  background: transparent;
  padding: 12px 48px;
  border: 1px solid #3e695d;
  color: #3e695d;
  padding: 12px 92px;
  color: #3e695d;
}

.expe-revs h2, .expe-revs h3 {
  color: #3e695d;
}

.expe-revs .feat-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 900px;
  margin: 10vh auto;
}

.expe-revs .feat-row img {
  width: 14%;
}

.expe-revs .reviewee-cont {
  text-align: left;
  max-width: 640px;
}

.expe-revs .reviewee-cont h3 {
  margin: 0 0 8px 0;
}

.expe-revs .reviewee-cont img {
  margin: 0 0 24px 0;
}

.expe-revs .rating-num {
  display: inline-block;
  font-size: 24px;
}

.expe-revs .star-cont {
  display: inline-block;
  margin-bottom: 48px;
}

.expe-revs .star-cont img {
  display: inline-block;
  width: 24px;
  margin: 0 4px;
}

.client-revs .container {
  background: none;
  position: relative;
}

.client-revs .container .clip {
  margin: 0 24px;
  width: 240px;
  overflow: hidden;
  bottom: 0;
}

.client-revs .container .clip img {
  margin: 0 auto;
  width: 65%;
}

.client-revs .container .clip h3 {
  margin: 0 auto;
}

.client-revs .container .clip .star-cont {
  display: block;
  margin-bottom: 48px;
}

.client-revs .container .clip .star-cont img {
  display: inline-block;
  width: 24px;
  margin: 0 4px;
}

/*TRIPS*/
.trip-hdr p {
  margin: 0 auto;
  padding: 12px 0;
  max-width: 800px;
}

.rec-tours h2, .acc-exp h2 {
  font-size: 2.25em;
  color: #3e695d;
  text-align: left;
  padding: 24px;
}

.rec-tours .int h2, .acc-exp .int h2 {
  width: 78%;
  margin: 0 auto;
}

.rec-tours .dom h2, .acc-exp .dom h2 {
  width: 78%;
  margin: 0 auto;
}

.rec-tours .container, .acc-exp .container {
  background: none;
  position: relative;
}

.rec-tours .container h3, .acc-exp .container h3 {
  color: #393738;
  position: relative;
}

.rec-tours .container .clip, .acc-exp .container .clip {
  height: 100%;
  margin: 0 24px;
  overflow: hidden;
  bottom: 0;
}

.rec-tours .container .clip img, .acc-exp .container .clip img {
  width: 100%;
}

.rec-tours .container .clip h3, .acc-exp .container .clip h3 {
  margin: 0 auto;
}

.rec-tours .container .sugginfo, .acc-exp .container .sugginfo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
  padding: 12px 0;
}

.rec-tours .container .sugginfo img, .acc-exp .container .sugginfo img {
  width: 53px;
  height: 72px;
}

.rec-tours .container .suggtext, .acc-exp .container .suggtext {
  width: 100%;
  padding: 0 12px;
}

.rec-tours .container .suggtext h3, .acc-exp .container .suggtext h3 {
  max-width: none;
}

.rec-tours .container .suggtext .rating, .acc-exp .container .suggtext .rating {
  float: right;
}
/*# sourceMappingURL=styles.css.map */