@font-face {
  font-family: "aserif";
  src: url("./fonts/Serif/Noto_Serif/NotoSerif-Regular.woff") format("woff"),
  	   url("./fonts/Serif/Noto_Serif/NotoSerif-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "asans";
  src: url("./fonts/Sans/Lato/Lato-Regular.woff") format("woff"),
  	   url("./fonts/Sans/Lato/Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "amono";
  src: url("./fonts/Mono/Fira_Code/FiraCode-VariableFont_wght.woff") format("woff"),
  	   url("./fonts/Mono/Fira_Code/FiraCode-VariableFont_wght.woff2") format("woff2");
}

/*MIXINS*/
@mixin  thebutton ($color){
	background: transparent;
	padding: 12px 48px;
	border: 1px solid $color;
	color: $color;
}

@mixin flexme ($align, $just) {
	display: flex;
	align-items: $align;
	justify-content: $just;
}

@mixin fullHead($bg) {
	background : url($bg);
	background-size : cover;
	padding: 0 2.5vw 35.5vh 2.5vw;
	height: 85vh;
	display : block;
	color : white;
	h1 {
		margin-top: 10%;
	}
}

@mixin inputPreset ($color) {
	text-align: center;
	color: $color;
	background-color: transparent;
	padding: 12px 48px;
	border: 1px solid $color;
	&::placeholder {
		color: $color;
		opacity: 0.75;
	}
}

/*COLORS*/
$fontGreen : #3e695d;
$fontLGreen : #77998d;
$fontReds : #c24728;
$fontBlack : #393738;
$panGreen : #b3ccc3;
$panLGreen : #b6cbc2;
$panYell : #dfd0a5;

$serif : 'aserif';
$sans : 'asans';
$mono : 'amono';

/* Reset */
* {outline: none; box-sizing: border-box; }
a {text-decoration: none; }
body, html, h1, h2, h3, h4, h5, h6, p, header, footer, div, article, section, aside, ul {padding: 0; margin: 0;}
html {height: 100%; overflow-x: hidden; margin-top: 0!important}

input, select, textarea, button {outline: 0; border: 0; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; border-radius: 0; -webkit-border-radius: 0; }
button {cursor: pointer; background: transparent;}

/*PRESETS*/
.flex {display: flex; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -webkit-flex-flow: row wrap; flex-wrap: wrap;}
h1,h2,h3,h4,h5,h6 {
	font-family : $serif;
}

h1 {
	font-size: 3.75em;
	padding: 48px 0;
}

h3 {
	font-size: 1.28em;
	padding: 24px auto;
	max-width: 200px;
	margin: 0 auto;
}

p, a{
	font-family : $sans;
	font-size: 18px;
	line-height: 30px;
}

span {
	font-family : $mono;
}


/*GEN*/
#inclusions, #suggestions, #inquire, #notesterms,
 #guestphotos, #reviews, #hostnotes, #itinerary {
	color: $fontGreen;
}
.hundo {
	text-align: center;
	overflow: hidden;
	width : 100%;
}

.nothundo{
	margin: 8vh auto !important;
	padding: 24px 0;
	width: 78%;
	overflow: hidden;
	text-align: center;
}

.greengreen {
	text-align: center;
	color : $fontGreen;
	background-color : $panGreen;
	padding : 64px 20vw;
}

.whitegreen {
	text-align: center;
	color : $fontGreen;
	padding : 64px 20vw;
}

.whitered{
	h1,h2,h3,h4,h5,h6 {
		color : $fontReds;
	}
	p, a, span {
		color : $fontGreen;
	}
}

.yellowgreen {
	background-color: $panYell;
	color : $fontGreen;
	padding : 64px 20vw;
}

.padder {
	padding-bottom: 10vh;
}

.soc-vert-fix {
	position: fixed;
	top: 40vh;
	left: 24px;
	z-index: 99;
	a {
		display: block;
		width: 42px;
		height: 42px;
		margin: 12px 0;
	}
	
	.fb {
		background: url("../images/SocIcons/fb.png");
		background-size: cover;
	}

	
	.tw {
		background: url("../images/SocIcons/tw.png");
		background-size: cover;
	}

	
	.insta {
		background: url("../images/SocIcons/insta.png");
		background-size: cover;
	}

	
	.pin {
		background: url("../images/SocIcons/pin.png");
		background-size: cover;
	}

	
	.mail {
		background: url("../images/SocIcons/mail.png");
		background-size: cover;
	}
}

.soc-hor-rel {
	a {
		display: inline-block;
		width: 42px;
		height: 42px;
		margin: 0px 12px;
	}
	
	.fb {
		background: url("../images/SocIcons/fb.png");
		background-size: cover;
	}

	
	.tw {
		background: url("../images/SocIcons/tw.png");
		background-size: cover;
	}

	
	.insta {
		background: url("../images/SocIcons/insta.png");
		background-size: cover;
	}

	
	.pin {
		background: url("../images/SocIcons/pin.png");
		background-size: cover;
	}

	
	.mail {
		background: url("../images/SocIcons/mail.png");
		background-size: cover;
	}
}
//FIXED NAV MOBILE
.fixnav {
	display: none;
	background-color: white;
	padding: 12px 48px;
	position: fixed;
	z-index: 200;
	img {
		width: 140px;
	}

	.burger-drop {
		width: 64px; height: 64px;
		background: url("../images/dropwdown.png");
		background-size: cover;
	}
	.drop {
		position: absolute;
		display: none;
	}
}

.whitenav {
	@include flexme(center, space-between);
	img {
		float: left;
		width: 140px;
	}
	background: white;
	padding: 24px 2.5vw; 
	nav {
		float : right;
	}
	ul {
		display : flex;
		align-items : flex-start;
	}
	li {
		margin: 0 32px;
		list-style-type : none;
	}
	a {
		color: #333;
		text-decoration : none;
	}
}
.transpnav{
	@include flexme(center, space-between);
	img {
		float: left;
		width: 140px;
	}
	background-color: transparent;
	padding: 24px 2.5vw; 
	nav {
		float : right;
	}
	ul {
		display : flex;
		align-items : flex-start;
	}
	li {
		margin: 0 32px;
		list-style-type : none;
	}
	a {
		color: white;
		text-decoration : none;
	}
}

.lang {
	position: absolute;
	top: 12px;
	right: 0;
}

.inq-yellow {
	background: $panYell !important;
}

::placeholder {
	color: rgba(255,255,255,0.85);
}

/*SLIDER PRESETS*/
.container {
	width: 100%;
	.slider {
		margin: 0 auto;
		width: 78%;
	}
}
.slick-track {
	padding: 32px 0 !important;
}
.slick-prev {
	left: -98px !important;
	&::before{
		content: "" !important;
	}
	background: url("../images/leftarr-min.png") !important;
	background-size: cover !important;
	z-index: 100;
	width: 98px !important;
	height: 98px !important;
}
.slick-next{
	right: -98px !important;
	&::before{
		content: "" !important;
	}
	background: url("../images/rightarr-min.png") !important;
	background-size: cover !important;
	z-index: 100;
	width: 98px !important;
	height: 98px !important;
}
.trip-guides .center {
	.clip {
		transition-duration: 0.25s;
	}
	
	.active-slide {
		transform: scale(1.25);
	}
}

/*STORIES SLIDER*/
.stories {
	#fst-story {
		background: url('../images/placeholder1-stories.png');
		background-position: center;
		background-size: cover;
	}
	#sec-story {
		background: url('../images/placeholder2-stories.png');
		background-position: center;
		background-size: cover;
	}
	#thr-story {
		background: url('../images/placeholder1-stories.png');
		background-position: center;
		background-size: cover;
	}


	.container {
		display: block;
		overflow: hidden;
		position: relative;
	}
	.btn-prev {
		position: absolute;
		left: 1%; top: 43%;
		background: url("../images/leftarrW-min.png");
		background-size: cover;
		z-index: 100;
		width: 98px;
		height: 98px;
	}
	.btn-next {
		position: absolute;
		right: 1%; top: 43%;
		background: url("../images/rightarrW-min.png");
		background-size: cover;
		z-index: 100;
		width: 98px;
		height: 98px;
	}
	.slider {
		@include flexme(flex-start, flex-start);
		height: 90vh;
		width: inherit;
		margin: inherit;
	}
	.slide-content {
		padding: 2%;
		position: relative;
		transition-duration: 0.75s;
		display: inline-block;
		width: 25%;
		height: 100%;
		text-align: center;
		p {
			display: none;
		}
		img {
			opacity: 0.85;
			width: 100%;
		}
	}
	.text-cont {
		margin-top: 25%;
		h2, p, span {
			color: white;
		}
		h2 {
			padding-top: 24px;
		}
		p {
			margin-top: 2%;
		}
		text-align: left;
		span {
			text-transform: uppercase;
			border: 1px solid white;
			padding: 4px 12px;
		}
	}
	.active-slide {
		padding: 4% 8%;
		width: 50% !important;
		h2 {
			font-size: 3.25em;
		}
	}
}

/*INDEX*/
.headme {
	@include fullHead('../images/homepagebg.png');
	img {
		float: left;
		width: 140px;
	}
	input {
		color: white;
		margin-top : 32px;
		background: transparent;
		border: 2px solid white;
		padding: 10px 48px;
		text-align: center;
	}
	nav {
		float : right;
	}
	ul {
		display : flex;
		align-items : flex-start;
	}
	li {
		margin: 0 32px;
		list-style-type : none;
	}
	a {
		color: white;
		text-decoration : none;
	}
}

#summary {
	margin: 0 auto;
	h1,h2,h3,h4,h5,h6 {
		color: $fontReds;
	}
	p {
		color: $fontGreen;
	}
	.sum-text-cont, .img-cont {
		display: block;
	}
	.anotha1 {
		text-align: center;
	}

	.sum-row {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	.sum-info-col {
		margin: 0 24px;
		text-align: justify;
		text-align-last: center;
		max-width: 280px;
		img {
			width: 32%;
		}
	}

	.sum-img-cont {
		margin-top: 10vh;
		display: inline-flex;
		align-items: flex-start;
		.spec {
			margin-bottom: 20px;
		}

		#long {
			background-size: cover !important;
			background: url("../images/camp.png") no-repeat;
			width: 240px;
			height: 500px;
			margin-right: 24px;
		}
		#first {
			background-size: cover !important;
			margin-right: 20px;
			background: url("../images/camel.png") no-repeat;
		}	
		#second {
			background-size: cover !important;
			background: url("../images/boat.png") no-repeat;
		}
		#rect {
			background-size: cover !important;
			background: url("../images/mountainside.png") no-repeat;
			width: 500px;
			height: 240px;
		}

		.sum-img-row{
			display: block;
		}

		.sum-img-row-col {
			width: 240px; height: 240px;
			display: inline-block;
		}
	}
}

#tuts {
	margin: 0 auto;
	p {
		margin: 0 auto;
		max-width: 240px;
	}

	.tuts-row {
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;
	}

	.tuts-col {
		max-width: 280px;
		img {
			width: 20%;
		}
		h3 {
			padding: 24px;
		}
	}

	.btn-links {
		margin-top: 48px;
	}
	a {	
		padding: 12px 24px;
		margin: 18px 0;
		display: block;
		color : $fontReds;
		border: 2px solid rgba(194, 71, 40, 0.75);
	}
}

#destinations {
	img {
		width: 65%;
	}

	.dest-row {
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;
	}
	.dest-col {
		list-style-type: none;
	}

	.dest-col img {
		width: 85%;
	}

	h2 {
		color: $fontGreen;
	}
}

#trips {
	.trip-row {
		margin: 30px 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;
	}

	.trip-col {
		width: 30%;
		position: relative;
		list-style-type: none;
		h3 {
			max-width: 100%;
			color: white;
			font-size: 3em;
			position: absolute;
			top: 43%;
			width: 100%;
		}
	}

	.trip-col img {
		max-width: 100%;
	}
}

#newsletter {
	width: 75%;
	input {
		color: $fontReds;
		margin: 24px auto;
		width: 420px;
		display: block;
		border : 1px solid rgba(90, 151, 134, 0.95);
		padding: 12px;
		text-align: center;

		&::placeholder {
			color: rgba(90, 151, 134, 0.85);
		}
	}

	button {
		padding: 12px;
		margin: 18px auto;
		display: block;
		color : $fontGreen;
		border: 1px solid rgba(90, 151, 134, 0.85);;
	}
}

footer {
	text-align: left !important;
	color: $fontGreen;
	position: relative;
	padding: 24px 0 72px 0;
	.flexme {
		width: 250px;
		@include flexme(center, center);
		img {
			width: 20%;
		}
	}

	div div:first-child {
		margin-top: 24px;
	}
	h3 {
		color: $fontGreen;
		margin-bottom: 20px;
	}
	h4 {
		color: $fontGreen;
		margin-bottom: 12px;
	}
	.leftitems {
		width: 340px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	.rightitems {
		margin-top: 24px;
		position: absolute;
		right: 0;
		top: 0;
		.soc-group {
			width: 120px;
		}

		.soc-row {
			@include flexme(center, space-between);
		}
		.soc-group .soc-row img {
			width: 28px;
		}

		.right-links {
			text-align: right;
		}
	}
	li {
		list-style-type: none;
	}

	a{
		padding: 24px 0;
		color: $fontGreen;
	}

	.below {
		position: relative;
	}
}

/*EXPEDITION*/
.expe-head {
	background-color: $panGreen;
	color: $fontGreen;
	.headliner {
		.abo-wrap {
			padding: 12px 12px 0 12px;
		}

		.abo-cont {
			padding: 24px 0;
			color: white;
			width: 100%;
			height: 720px;
			background: url("../images/expebg.png");
			background-size: cover;
			img {
				width: 64px;
			}
		}

		.abo-text {
			max-width: 520px;
			margin: 24vh auto 0;
			
			h1 {
				padding: 24px 0;
			}
		}

		.abo-tag {
			.alr {
				text-align: right;
			}
			text-align: left;
			padding: 0 72px;
			border-bottom: 1px solid $fontGreen;
			@include flexme(center, space-between);
			align-content: stretch;
			position: relative;
			.tag-col {
				text-align: center;

				hr {
					border: none;
					margin-top: 12px;
				}
				display: inline-block;
				padding: 12px 24px;
				span {
					display: block;
				}
			}
			.ball {
				text-align: left;
				padding: 0 !important;
				border-right: 1px solid $fontGreen;
				border-left: 1px solid $fontGreen;
				hr {
					display: block;
					margin: 0 auto;
					border-top: 1px solid $fontGreen;
				}
				span {
					width: 400px;
					padding: 12px 0 12px 24px;
				}
			}
			.br {
				padding: 0 24px;
				@include flexme(center, space-between);
				img {
					width: 64px;
					margin-right: 28px;
				}
			}
			.flag {
				width: 56px; height: 72px;
				position: absolute;
				left: 22px;
				top: -8px;
			}
			.spec-but {
				border-left: 1px solid $fontGreen;
				a {
					background-color: $fontGreen;
					color: white;
					padding: 8px 48px;
				}
			}
		}
	}

	.bot-sum {
		margin-top: 3vh !important;
		padding: 0 0 8%;
		position: relative;
		.twit-tags {
			max-width: 80%;
			@include flexme(center, center);
			margin: 12px auto 0 auto;
			div{
				margin: 0 8px;
				max-width: 320px;
				padding: 4px 12px;
				border: 1px solid $fontGreen;
			}
		}
		input {
			position: absolute;
			top: 0%; right: 0;
			color: $fontGreen;
			border: 1px solid $fontGreen;
			background: transparent;
			padding: 6px 18px;
			&::placeholder {
				color: $fontGreen;
				opacity: 1;
			}
		}
		p {
			margin: 0 auto;
			padding: 0 24px;
			line-height: 32px;
			max-width: 800px;
		}
	}
}

#inclusions {
	.tictacimg {
		margin: 0 auto;
		width: 75%;

		img {
			width: 35%;
		}

		.row {
			display: flex;
			align-content: stretch;
		}

		.col {
			align-content: stretch;
			padding: 3% 2%;
			width: 33%;
		}

		.borderall {
			border: 1px solid $fontGreen;
		}
		.borderud {
			border-top: 1px solid $fontGreen;
			border-bottom:  1px solid $fontGreen;
		}
		.borderlr {
			border-left: 1px solid $fontGreen;
			border-right:  1px solid $fontGreen;
		}
	}
}

#itinerary {
	.it-content {
		// @include flexme(center, center);
		display: flex;
		align-content: stretch;
		justify-content: center;
		padding-bottom: 32px;
	}

	.it-content img {
		width: 32%;
	}

	.special-numbering {
		display: block;
		margin: 16px 24px;
	}
	.special-numbering .circle {
		width: 64px; height: 64px;
		border-radius: 50%;
		border: 2px solid $fontGreen;
		display: block;
		position: relative;
		h3 {
			display: block;
			position: absolute;
			left: 24px;
			top: 20px;
	
		}
	}

	.special-numbering .border {
		border-right: 2px solid $fontGreen;
		height: 100%;
		width: 50%;
	}
	.text-cont {
		text-align: left;
		width: 390px;
		h3 {
			margin: 26px 0 0 0;
		}
		a {
			color: $fontBlack;
		}
	}

	.sep {
		margin-top: 72px;
	}

	.sep a {
		@include thebutton($fontGreen);
		width: 240px;
		margin: 0 auto;
	}
}

#hostnotes {
	.hosts-cont {
		@include flexme(flex-start, space-evenly );
		width: 800px;
		margin: 64px auto 72px;
	}

	.host-info-cont {
		text-align: left;
		width: 450px;
		p {
			margin-bottom: 24px;
		}
	}

	a {
		@include thebutton($fontGreen);
		width: 240px;
		margin: 0 auto;
	}
}

#reviews {
	h1 {
		padding-bottom: 12px;
	}
	.feat-row {
		@include flexme(flex-start, space-evenly);
		max-width: 900px;
		margin: 0 auto 10vh auto;

		img {
			width: 14%;
		}
	}

	.reviewee-cont {
		text-align: left;
		max-width: 640px;

		h3 {
			margin: 0 0 8px 0;
		}
		img {
			margin: 0 0 24px 0;
		}
	}
	.rating-num {
		display: inline-block;
		font-size: 24px;
	}

	.star-cont {
		display: inline-block;
		margin-bottom: 48px;
		img {
			display: inline-block;
			width: 24px;
			margin: 0 4px;
		}
	}
}

#guestphotos {
	h1 {
		padding: 48px 0 24px;
	}

	.gp-img-cont {
		@include flexme(center, center);
		flex-wrap: wrap;
		img {
			width: 360px;
			margin: 24px;
		}
	}

	a {
		@include thebutton($fontGreen);
	}
}

#notesterms {
	.nt-cont {
		width: 80%;
		margin: 0 auto;
	}
	.nt-row {
		display: flex;
		justify-content: center;
		align-content: stretch;
	}
	.nt-cont div:last-child div{
		border-bottom: none;
	}
	.nt-row div:last-child {
		border-right: none;
	}

	.nt-col {
		width: 25%;
		padding: 0 24px 24px 24px;
		img {
			margin-top: 20%;
			width: 35%;
		}
		border-bottom: 1px solid $fontGreen;
		border-right: 1px solid $fontGreen;
	}

	.nt-col-l {
		width:  50%;
		img {
			margin-top: 7%;
			width: 35%;
		}
		
		border-bottom: 1px solid $fontGreen;
		border-right: 1px solid $fontGreen;
	}
}

#suggestions {
	.sugg-cont {
		@include flexme(flex-start, center);
	}

	.sugg-col {
		margin: 0 24px;
		width: 480px;
		img {
			width : 100%;
		}
	}

	.sugginfo {
		position: relative;
		@include flexme(flex-start, left);
		text-align: left;
		padding: 12px 0;
	}

	.sugginfo img{
		width: 53px;
		height: 72px;
	}
	.suggtext { 
		padding: 0 12px;
		h3 {
			max-width: none;
		}
		.rating {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}

#inquire {
	background: $panGreen;
	.contain {
		padding: 98px 0;
		width: 78%;
		margin: 0 auto;
	}
	.iwlte {
		span {
			font-family: $serif;
			padding: 4px 12px;
			border: 1px solid $fontGreen;
		}

		select {
			font-size: 0.75em;
			background: transparent;
			border: 1px solid $fontGreen;
			color: $fontGreen;
			padding: 8px 20px;
			option {
				background: $panGreen;
				color: $fontGreen;
				border-color : $fontGreen;
			}
		}
	}

	h1 {
		padding-bottom: 12px;
	}
	p {
		margin: 0 auto;
		max-width: 420px;
	}

	.submission {
		margin: 72px auto 32px;
		text-align: left;
		max-width: 65%;
		border: 1px solid $fontGreen;
		.bme {
			padding: 12px;
			border-bottom: 1px solid $fontGreen;
			span {
				width: 164px;
				display: inline-block;
			}
			input {
				
				background: transparent;
				color: $fontGreen;
				display: inline-block;
				width: 70%;
			}

		}
		.bmes {
			padding: 12px;
			border-bottom: 1px solid $fontGreen;
			span {
				width: 164px;
				display: inline-block;
			} input {
				
				background: transparent;
				color: $fontGreen;
				display: inline-block;
				width: 70%;
			}
		}
		.bn {
			@include flexme(flex-start, flex-start );
			padding: 12px;
			span {
				width: 164px;
				display: inline-block;
			}
			textarea{
				background: transparent;
				color: $fontGreen;
				width: 80%;
			}
		}
	}

	button {
		@include thebutton($fontGreen);
	}
}

/*STARS*/
.stars {
	width: 16px !important;
	height: auto !important;
	margin: 0 12px;
}

/*ABOUT*/
.abt-hdr {
	@include fullHead('../images/homepagebg.png');
	img {
		float: left;
		width: 140px;
	}

	.text-cont {
		text-align: left;
		padding: 0 8vw;
		h1 {
			margin-top: 10%;
			font-size: 3em;
			line-height: 1.75em;
			max-width: 400px;
		}
		p{
			max-width: 800px;
			font-size: 1.5em;
			line-height: 1.75em;
		}
	}
	nav {
		float : right;
	}
	ul {
		display : flex;
		align-items : flex-start;
	}
	li {
		margin: 0 32px;
		list-style-type : none;
	}
	a {
		color: white;
		text-decoration : none;
	}
	
}

.how-its {
	max-width: 55%;
	margin: 0 auto;
	h1,h2,h3,h4,h5,h6 {
		color: $fontReds;
	}
	p {
		color: $fontGreen;
	}
	.sum-text-cont, .img-cont {
		display: block;
	}
	.anotha1 {
		text-align: center;
	}

	.sum-row {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin: 64px 0;
	}

	.sum-info-col {
		margin: 0 24px;
		text-align: justify;
		text-align-last: center;
		max-width: 280px;
		img {
			margin: 0 auto;
			width: 32%;
		}
	}
}

.mt-n-grt {
	.row:first-child img{
		width: 35%;
	}
	.row {
		@include flexme(center, space-evenly);
		img {
			width : 75%;
		}
		.text-cont{
			margin:0 5%;
			max-width: 45%;
			text-align: left;
			h1 {
				padding: 12px 0;
			}
			p {
				line-height: 42px;
			}
		}
		.col {
			h2{
				color: $fontGreen;
			}
		}
	}

}

.abt-ftr {
	background-color: $panGreen;
	.cont {
		padding: 24px 0;
		width: 78%;
		margin: 0 auto;
	}
	.rightitems {
		right: 11vw;
	}
}

/*ARTICLES*/
.arts-page {
	.contain {
		height: 720px;
		@include flexme(flex-start, center);
	}
	.left-cont {
		text-align: left;
		background: url("../images/homepagebg.png");
		background-size: cover;
		color: white;
		height: 100%;
		width: 100%;
	}
	.right-cont {
		user-select: none;
		padding-top: 6%;
		background: $panLGreen;
		height: 100%;
		width: 45%;
		#trending-tab {
			display: block;
		}
		#popular-tab{
			display: none;
		}

		.hdr-click {
			padding: 12px 0;
		}
		li.active {
			background: $panYell;
			border-right: 18px solid $fontReds;
		}
		li {
			position: relative;
			transition-duration: 0.2s;
			padding: 24px 0;
			list-style-type: none;
			@include flexme(flex-start,  center);
			span {
				margin: 0 24px;
			}
			h2 {
				float: left;
				font-size:2.25em;
				max-width: 320px;
			}
		}
		.tabs {
			text-align: center;
			max-width: 260px;
			margin: 0 auto;
			margin-bottom: 24px;
			span {
				padding: 8px 12px;
				margin: 0 4px;
			}
			.active-tab {
				color: white;
				background: $fontReds;
			}
		}
	}

	

	.pop-cont {
		display: none;
	}
	.hdr-cont{
		padding-top: 24%;
		max-width: 65%;
		margin: 0 auto;
		display: none;
	}
}
.trip-guides {
	.trip-centered-slider {
		@include flexme(center, space-between);
	}
	.container {
			background: none;
			position: relative;
		h3{
			color: $fontBlack;
			line-height:100px;
			margin:10px;
			padding:2%;
			position:relative;
			text-align:center;
		}
		.clip {
			margin: 0 24px;
			width: 240px;
		  	overflow: hidden;
		  	bottom: 0;
			img {
				width: 100%;
			}
			h3 {
				margin: 0 auto;
			}
		}
	}
}


/*ARTICLE SINGLE*/
.art-hdr {
	text-align: left !important;
	.full-cont {
		position: relative;
		min-height: 768px;
		background: url("../images/expebg.png");
		background-size: cover;
		padding: 0 10vw;

		.text-cont {
			position: absolute;
			bottom: 18%;
			color: white;
			padding-right: 48px;

			p {
				max-width: 720px;
			}
		}
		.art-info {
			@include flexme(center, flex-start);
			padding: 12px 0;
			span {
				text-transform: uppercase;
			}
			hr {
				height: 21px;
				border-left: 1px solid white;
				margin: 0 24px;
			}
		}
	}
}

.page-article {
	padding: 5vh 12vw;
	text-align: left;
	li {
		font-family: $sans;
		padding: 24px 18px;
		font-size: 48px;
		list-style-type:decimal;
	}
	strong {
		font-size: 1.5em;
	}
	p {
		padding: 16px 0;
	}
	.article-post {
		img {
			width: 100%;
		}
	}
}

.recommend {
	h2, h3 {
		font-family: $sans;
	}
	h2 {
		padding: 24px 0 24px 48px;
	}
	.row {
		@include flexme(flex-start, space-evenly);
	}
	.col {
		width: 45%;
		img {
			display: block;
			max-width: 100%;
		}
		span {
			display: block;
			width: 120px;
			padding: 4px 12px;
			text-transform: uppercase;
			margin: 12px 0;
			border: 2px solid $fontBlack;
		}
		h3 {
			margin: 0;
		}
	}
}

.sm-news {
	h1 {
		color: $fontGreen;
	}
	form {
		input {
			padding: 24px 0;
			@include inputPreset($fontGreen);
			margin: 12px 24px;
		}

		button{
			@include thebutton($fontGreen);
			background: $fontGreen;
			color: white;
			margin: 0 auto;
			margin-top: 24px;
			display: block;
		}
	}
}

/*REVIEWS*/
.rev-hdr {
	@include fullHead('../images/homepagebg.png');
	text-align: left;
	position: relative;
	img {
		float: left;
		width: 140px;
	}

	.text-cont {
		position: absolute;
		bottom: 15vh;
		padding: 0 8vw;
		h1 {
			font-size: 3em;
			line-height: 1.75em;
			max-width: 640px;
		}
	}
}

.feat-revs {
	div {
		margin: 0 0 15vh;
		width: 100%;
		display: block;
		@include flexme(center, space-evenly);
		img {
			max-width: 40%;
		}
		.text-cont {
			text-align: left;
			display: block;
			width: 50%;
			padding: 0 4%;

			span {
				font-weight: bold;
				text-transform: uppercase;
				border: 1px solid $fontGreen;
				padding: 12px 24px;
			}
			p {
				line-height:42px;
				margin-bottom: 48px;
			}
			a{
				@include thebutton($fontReds);
				padding: 12px 96px !important;
				font-weight: bolder;
			}
		}
	}

	div:first-child div a {
		float: right;
	}
}

.expe-revs {
	.contain {
		@include flexme(flex-start, center);
		img {
			max-width: 45%;
			margin-right: 4%;
		}
	}

	.right-cont a{
		@include thebutton($fontGreen);
		padding: 12px 92px;
		color: $fontGreen;
	}
	
	h2, h3 {
		color: $fontGreen ;
	}

	.feat-row {
		@include flexme(flex-start, space-evenly);
		max-width: 900px;
		margin: 0 auto 10vh auto;

		img {
			width: 14%;
		}

	}

	.reviewee-cont {
		text-align: left;
		max-width: 640px;

		h3 {
			margin: 0 0 8px 0;
		}
		img {
			margin: 0 0 24px 0;
		}
	}
	.rating-num {
		display: inline-block;
		font-size: 24px;
	}

	.star-cont {
		display: inline-block;
		margin-bottom: 48px;
		img {
			display: inline-block;
			width: 24px;
			margin: 0 4px;
		}
	}
}

.client-revs {
		.container {
			background: none;
			position: relative;
		.clip {
			margin: 0 24px;
			width: 240px;
			overflow: hidden;
			bottom: 0;
			img {
				margin: 0 auto;
				width: 65%;
			}
			h3 {
				margin: 0 auto;
			}
			.star-cont {
				display: block;
				margin-bottom: 48px;
				img {
					display: inline-block;
					width: 24px;
					margin: 0 4px;
				}
			}
		}
	}
}

/*TRIPS*/
.trip-hdr{
	p {
		margin: 0 auto;
		padding: 12px 0;
		max-width: 800px;
	}
}

.rec-tours, .acc-exp {
	h2 {
		font-size:2.25em;
		color: $fontGreen;
		text-align: left;
		padding: 24px;
	}

	.container {
			background: none;
			position: relative;
		h3{
			color: $fontBlack;
			position:relative;
		}
		.clip {
			height: 100%;
			margin: 0 24px;
		  	overflow: hidden;
			  bottom: 0;
			img {
				width: 100%;
			}
			h3 {
				margin: 0 auto;
			}
		}
		.sugginfo {
			position: relative;
			@include flexme(flex-start, left);
			text-align: left;
			padding: 12px 0;
		}
	
		.sugginfo img{
			width: 53px;
			height: 72px;
		}
		.suggtext { 
			padding: 0 12px;
			h3 {
				max-width: none;
			}
			.rating {
				position: absolute;
				right: 12px;
				bottom: 0;
			}
		}
	}
	
}